@use './vars' as v;

@mixin transition($prop, $duration: v.$duration, $timing: v.$timing) {
    transition: $prop $duration $timing;
}


@mixin position($position, $args) {
    @each $o in top right bottom left {
      $i: index($args, $o);
   
      @if $i and $i + 1<= length($args) and type-of(nth($args, $i + 1)) == number  {
        #{$o}: nth($args, $i + 1);
      }
    }
    position: $position;
  }
   
  @mixin absolute($args) {
    @include position(absolute, $args);
  }

  @mixin absolute-center {
    @include position(absolute, top 50% left 50%);
    translate: -50% -50%;
  }
   
  @mixin fixed($args) {
    @include position(fixed, $args);
  }
   
  @mixin relative($args) {
    @include position(relative, $args);
  }


@mixin flex($ai: null, $justify: null, $dir: null) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $ai;
}

@mixin flex-center($dir: null) {
    @include flex(center, center);
    flex-direction: $dir;
}
@mixin createSpacingUtils() {
  @each $key, $value in v.$gutters {
      .p-#{$key} {
          padding: $value;
      }
      .px-#{$key} {
          padding-inline: $value;
      }
      .py-#{$key} {
          padding-block: $value;
      }
      .p-top-#{$key} {
        padding-block-start: $value;
      }
      .p-bottom-#{$key} {
        padding-block-end: $value;
      }
      .p-left-#{$key} {
        padding-inline-start: $value;
      }
      .p-right-#{$key} {
        padding-inline-end: $value;
      }

      .m-#{$key} {
        margin: $value;
      }
      .mx-#{$key} {
        margin-inline: $value;
      }
      .my-#{$key} {
          margin-block: $value;
      }
      .m-top-#{$key} {
        margin-block-start: $value;
      }
      .m-bottom-#{$key} {
        margin-block-end: $value;
      }
      .m-left-#{$key} {
        margin-inline-start: $value;
      }
      .m-right-#{$key} {
        margin-inline-end: $value;
      }
    }
}

@mixin for-phone-tablet {
    @media screen and (max-width: 1024px) { @content; }
}

@mixin for-tablet-up {
    @media screen and (min-width: v.$bp-tablet) { @content; }
}

@mixin for-laptop-up {
    @media screen and (min-width: 1025px) { @content; }
}