@use '../abstracts/' as abs;

.header {

    &__top {
        padding-block: .5em;
        border-bottom: 1px solid #e9e9e9fb;
        text-align: center;

        &-wrapper {
            @include abs.for-laptop-up {
                justify-content: space-between;
            }
        }

        &-item {
            border: 1px solid green;
        }

        p,
        a {
            font-size: .8rem;
        }
    }

    &__call {
        text-transform: capitalize;
        @include abs.for-laptop-up {
            text-align: left;
        }
    }

    &__call,
    &__top-slider {
        a {
            font-weight: 700;
        }
    }



    &__mobile {
        padding-block: 1em;
        background-color: abs.$clr-body-bg;
        z-index: 150;


        &.sticked {
            @include abs.fixed(top 0 left 0);
            width: 100%;
        }

        &-form {
            @include abs.absolute(top 0 left 0);
            background-color: abs.$clr-body-bg;
            width: 100%;
            opacity: 0;
            translate: -100% 0;
            transition: opacity abs.$duration abs.$timing, translate abs.$duration abs.$timing;

            &.opened {
                opacity: 1;
                translate: 0;
            }


            input {
                border: none;
            }

            button {
                margin-inline: .5em;
            }
        }
    }

    &__btn {
        @include abs.transition(color);

        &:hover {
            color: abs.$clr-primary;
        }
        &:not(:last-child) {
            margin-inline-end: 1em;
        }
    }


    &__desktop {
        padding-block: 1em;
        span {
            margin-inline: .5em;
        }

        &-form-container {
            width: 40%;
            max-width: abs.toRem(400);
        }
    }

    &__bot {
        &-left,
        &-right {
            @include abs.transition(background-color);
            height: 100%;
        }
        &-right {
            padding-block: 1em;
            position: relative;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                
                background-color: inherit;

                @include abs.absolute(top 0 left 0);
                translate: -1.5rem 0;
                z-index: -1;
            }
        }

        &-content {

            &.sticked {
                width: 100%;

                box-shadow: abs.$shadow;

                z-index: 100;
                @include abs.fixed(top 0 left 50%);
                translate: -50% 0;

                transform-origin: top left;


                .header__bot-left,
                .header__bot-right {
                    background-color: abs.$clr-body-bg;
                    color: abs.$clr-text;
                }
            }
        }
    }
}


@keyframes sticky-grow {
    from {
        scale: 1 0;
    }
    to {
        scale: 1;
    }
}