@use '../abstracts/' as abs;


.burger {
    display: block;
    width: abs.$burger-size;
    height: abs.$burger-size;
    @include abs.flex-center(column);

    &:hover {
        animation: burger-hover-scale .3s ease-in 1;
    }


    &__line {
        width: 80%;
        height: abs.$burger-line-height;
        background-color: abs.$clr-burger-line;

        &--mid {
            margin-block:  abs.$burger-line-gap;
        }
    }

    @keyframes burger-hover-scale {
        0%,100% {
            scale: 1;
        }
        50% {
            scale: 1.2;
        }
        
    }
}