@use '../abstracts/' as abs;

.mn {
    --btn-size: 1.8rem;

    @include abs.fixed(top 0 left 0);
    background-color: abs.$clr-body-bg;
    width: 100%;
    max-width: abs.toRem(315);
    height: 100vh;
    padding: 2em;
    z-index: 1000;
    translate: -100% 0;
    overflow: hidden;
    transition: translate abs.$duration abs.$timing;


    &.opened {
        translate: 0;
    }

    &__panels {
        height: 100%;
        &-container {
            position: relative;
            height: 100%;
        }
        

        &--initial {
            z-index: 1;

        }

        &--hidden {
            translate: calc(100% + 4em) 0;
            transition: translate abs.$duration abs.$timing;
            pointer-events: none;
            position: absolute;
            inset: 0;
            background-color: abs.$clr-body-bg;
        }

        &--current {
            translate: 0;
            pointer-events: initial;
        }

        &--prev {
            z-index: 2;
        }
    }

    &__panel {
        &:not(:last-child) {
            margin-block-end: 1em;
        }
    }

    &__title {
        font-size: 1.4rem;
        color: abs.$clr-primary;
        margin-block-end: 1em;

        i {
            display: inline-block;
            margin-inline-end: .5em;
        }
    }

    &__controls {
        position: relative;
        min-height: calc(var(--btn-size) + 1em);
        margin-block-end: 1em;
    }

    &__btn {
        width: 100%;
        text-align: left;
        background-color: abs.$clr-body-bg;
        font-size: var(--btn-size);
        color: abs.$clr-text2;
        @include abs.absolute(top 0 left 0);

        &--hidden {
            display: none;

        }

        &--back {
            z-index: 4;
        }
    }

    &__next-level {
        @include abs.flex(center, space-between);

        &::after {
            content: '\f054';
            font-family: 'Font Awesome 5 Free';
        }
    }

    &__link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
        letter-spacing: 1px;

        i {
            color: abs.$clr-text2;
            pointer-events: none;
        }
    }
}