@use '../abstracts/' as abs;

.mn {
    @include abs.fixed(top 0 left 0);
    background-color: abs.$clr-body-bg;
    width: 100%;
    max-width: abs.toRem(315);
    min-height: 100vh;
    padding: 2em;
    z-index: 1000;
    translate: -100% 0;
    transition: translate abs.$duration abs.$timing;


    &.opened {
        translate: 0;
    }

    &__close-btn {
        font-size: 1.8rem;
    }

    &__next-level {
        @include abs.flex(center, space-between);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
        letter-spacing: 1px;

        i {
            color: abs.$clr-text2;
        }
    }
}