@use '../abstracts/' as abs;

.nav {

    &__link {
        line-height: 1;
        text-transform: uppercase;
        display: inline-block;
    }
    
    li {
        &:not(:first-child) {
            margin-inline-start: 1em;
        }
    }
}