@use '../abstracts/' as abs;

.product {

    &__item {
        position: relative;

        &:hover {
            .product__img--over {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__images {
        position: relative;
    }

    &__img {

        &--over {
            position: absolute;
            inset: 0;
            opacity: 0;
            visibility: hidden;
            @include abs.transition(opacity);
        }
    }

    &__hover-link {
        opacity: 0;
        display: block;
        height: 0;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 2;
        }
    }

    &__brand {
        display: block;
        font-size: .8rem;
        color: abs.$clr-text2;
        text-transform: uppercase;
        // margin-block-start: 2em;
    }

    &__title {
        font-size: 1rem;
        font-weight: 300;
        margin-block-start: .5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__bottom {
        @include abs.flex(flex-start, null, column-reverse);
        gap: 1em;
    }

    &__price {
        color: abs.$clr-primary;
        font-weight: 600;
        font-size: 1.5rem;
    }

    &__btn {
        display: block;
        width: 100%;
    }
}