@use '../abstracts/' as abs;

.row {
    display: flex;
    flex-wrap: wrap;
    --gutter: 1.5rem;
    --gutter-y: 0;
    margin-inline: calc(-0.5 * var(--gutter));
    margin-block-start: calc(-1 * var(--gutter-y));
}

[class*='col'] {
    min-height: 1px;
    flex: 1;
    width: 100%;
    padding-inline: calc(var(--gutter) / 2);
    margin-block-start: var(--gutter-y);
}

.col {
    flex: 0 0 0%;
    width: auto;
}

// Generate cols
@each $key, $breakpoint in abs.$media-breakpoints {
    @media (min-width: $breakpoint) { 
      @for $i from 1 through abs.$columns {
        $percent: calc($i/abs.$columns * 100%);
        .col-#{$key}-#{$i},
        .col-#{$i} {
          flex: 0 0 $percent;
          max-width: $percent;
        }
        @if (#{$key} == 'lg' and #{$breakpoint} == '1024px' and #{$i} == '2') {
            .col-lg-25 {
                flex: 0 0 20%;
                max-width: 20%;
            }
        }
      }
    }
  }

@each $key, $gut in abs.$gutters {
    .gx-#{$key} {
        --gutter: #{$gut};
    }
    .gy-#{$key} {
        --gutter-y: #{$gut};
    }
    .g-all-#{$key} {
        --gutter: #{$gut};
        --gutter-y: #{$gut};
    }

    .gap-#{$key} {
        gap: #{$gut};
    }
}

.jc-center {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}